<div *ngIf="dish">
  <h2 translate>detail.edit</h2>
  <div>
      <img src="{{dish.url}}">
  </div>
  <div><span>id: </span>{{dish.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="dish.name" placeholder="name"/>
    </label>
  </div>
  <button (click)="save()">save</button>
  <button (click)="goBack()">back</button>

  <div class="form-group">
    <label for="file">Choose File</label>
    <input type="file"
           id="file"
           (change)="handleFileInput($event.target.files)">
</div>

</div>
