<h2>Our Dishes</h2>

<div>
  <label>Dish name:
    <input #dishName />
  </label>
  <button (click)="add(dishName.value); dishName.value=''">
    add
  </button>
</div>

<ul class="dishes">
  <li *ngFor="let dish of dishes">
    <a [routerLink]="['/admin', 'detail', dish.id]">
      <span>{{dish.id}}</span> {{dish.name}}
    </a>
    <button class="delete" title="delete dish"
      (click)="delete(dish)">x</button>
  </li>
</ul>

<div class="row">
  <div class="col-3" *ngFor="let dish of dishes">
<div  class="card" style="width: 20em;" class="polaroid" >
    <img src='{{dish.url}}' class="card-img-top">
  <div class="card-body">
    <h3>{{dish.name}}</h3>
    <p class="card-text">Описание блюда.Его состовляющие.</p>
    <a routerLink="/admin/detail/{{dish.id}}" class="btn btn-primary">Редактировать</a>
    <button type="button" class="btn btn-primary btn-sm" title="delete dish" (click)="delete(dish)">Удалить</button>
  </div>
</div>
</div>
</div>